<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings>
    <add name="connstring" connectionString="Data Source=LAPTOP-BLNS6C85\SQLEXPRESS;Initial Catalog=automated-timetable;Integrated Security=True" />
    <add name="nw\mssql2019.automated-timetable.dbo" connectionString="XpoProvider=MSSqlServer;data source=nw\mssql2019;integrated security=SSPI;initial catalog=automated-timetable" />
    <add name="Member3.Properties.Settings.automated_timetableConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\automated-timetable.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>